$base-color: #303030;
$list-bg-color: #000;
$list-color: white;

$form-bg-color: #000;
$form-label-background-color: black;
$form-input-color: white;

@import 'sencha-touch/default/all';

@mixin custom-pictos-iconmask($name) {
  .x-tab .x-button-icon.#{$name},
  .x-button .x-button-icon.x-icon-mask.#{$name} {
    -webkit-mask-image: inline-image($name + ".png");
  }
}

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-list-paging;
@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;
//@include sencha-draw;
//@include sencha-charts;

@include custom-pictos-iconmask('icon-contacts');
@include custom-pictos-iconmask('icon-debt');
@include custom-pictos-iconmask('icon-home');
@include custom-pictos-iconmask('icon-add-debt');
@include custom-pictos-iconmask('icon-add-contact');
@include custom-pictos-iconmask('icon-save');
@include custom-pictos-iconmask('icon-delete');
@include custom-pictos-iconmask('icon-back');
@include custom-pictos-iconmask('icon-email');

@include sencha-button-ui('gray-button', gray, 'matte');
@include sencha-button-ui('gray-light-button', #484848, 'flat');

body {
	background-color: black;

}
.x-toolbar .x-button, .x-tabbar-inner .x-button, .x-list-inner .x-button{
    border: none !important;
	background-image: none !important;
	border-bottom: 2px solid transparent !important;  
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
}
.x-toolbar .x-button:not(.x-tab-pressed):not(.x-button-pressing), .x-tabbar-inner .x-button:not(.x-tab-pressed):not(.x-button-pressing), .x-list-inner .x-button:not(.x-tab-pressed):not(.x-button-pressing) {
	background: transparent !important;  
}
.x-list-inner .x-button .x-button-icon.x-icon-mask{
	-webkit-mask-size: 1.54em;
	height: 1.1em;
}
.x-button .x-button-icon.x-icon-mask {
    width: 100%;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	background-color: white !important;
	background-image: none !important;
	-webkit-mask-size: 1.6em;
	opacity: .6;
	height: 1.4em;
}
.x-tabbar-inner .x-tab-active {
	position: relative;
}
.x-tabbar-inner .x-tab-active:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 7px;
	background-color: red;
}
.x-tabbar,.x-title .x-innerhtml {
	padding: 0 !important;

}

.x-tabbar-inner {
	position: relative;
	top: 1px;
}
.x-list-item {
	border-bottom: 1px solid #333;
}
.x-tabpanel {
	background-color:black;

}
.x-form {
	background-color:  black; 
}
.x-form-label {
	background-color: transparent;
	color: gray;
	border-bottom: 2px solid #333;	
	padding-bottom: 2px;
}
.x-form-fieldset .x-form-fieldset-inner, .x-form-fieldset .x-field {
	border: none;
	margin: 0 6px 0 6px;
}
.x-form-fieldset .x-form-label {
	border-top: none;
}
.x-input-el {
	color: white;
	min-height: 0;
	-webkit-text-fill-color: white !important;
}
.x-field-select .x-component-outer::before {
	background: none;
}
.x-form-fieldset .x-form-fieldset-inner {
	background: none;
}
.x-field .x-field-input {
	background-color: #1A1A1A;
}
.x-spinner .x-input-el, .x-field-select .x-input-el {
	-webkit-text-fill-color: white;

}
#addPayment .x-button-label {
	font-weight: normal;
}
#contactHeaderLabel .x-innerhtml, #debtHeaderLabel .x-innerhtml {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: table;
	margin: 0 auto;
}
.x-list-item.x-item-pressed .x-list-item-label {
	background-color: #333 !important;
	border-top-color: #333 !important;
}
.x-list-item.x-item-selected .x-list-item-label{
	background: none !important;
	background-color: #555 !important;
}
.x-container.x-list-item-label .x-innerhtml {
	padding-top: 4px;
}
.x-panel.x-floating .x-body.x-scroll-view{
	background-color: black !important;
}
.x-panel.x-floating {
	background-color: #222;
}
.x-clear-icon {
	background: url('../images/clear_icon.png') no-repeat !important;
	margin: 0.1em !important;
	margin-top: -.7em !important;
	background-size: 55% 55% !important;
}
.x-picker-bar {
	background-color: rgba(50, 50, 50, 0.3);
	background-image: none;
}
.x-tab-pressed {
	background-color: #33B5E5 !important;
}
.x-tab-pressed .x-button-icon, .my-buttons.x-button-pressing .x-button-icon {
	opacity: 1 !important;
}
.my-buttons.x-button-pressing {
	background-color: #33B5E5 !important;
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
}

.DebtDetail .x-scroll-scroller, .ContactDetail .x-scroll-scroller {
	width: 100% !important;
}